<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Core</title>
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/Komil-jon/phix-core/main/assets/logo.svg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/top-menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/background.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/pizza.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/message.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/logo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bottom-menu.css') }}">

</head>
<body>
<div class="moon">
  <span class="crater"></span>
  <span class="crater"></span>
  <span class="crater"></span>
  <span class="crater"></span>
</div>
<div class="ground">
  <div class="rock"></div>
  <div class="rock"></div>
  <div class="rock"></div>
</div>
<div class="shooting">
  <div class="core"></div>
  <div class="trail"></div>
</div>
  <object type="image/svg+xml" data="/static/assets/cactus.svg" class="cactus"></object>
  <div class="logo-container">
    <img src="https://raw.githubusercontent.com/phixmexbot/recources/main/logo.svg" alt="Logo" class="logo">
  </div>
  <footer class="footer">
    <a href="/copyright" class="footer-link">
      <span class="footer-text">© Core 2024</span>
    </a>
  </footer>
<div id="app" style="z-index: 1; position: absolute;"></div>
<canvas id="canvas"></canvas>
<canvas id="pizza"></canvas>

<p class="message-container">
  <span class="message">
    Core is a project created by Eternal team purely for enjoyment and satisfaction.<br> 
    It aims to provide a space where visitors can relax and immerse themselves in a visually stimulating environment.
    Whether you're here to explore its artistic elements, enjoy the serene landscapes, or simply unwind, Core invites you to take a moment to pause and appreciate the beauty of simplicity.
  </span>
</p>
  
<script src="https://cdn.tailwindcss.com/3.4.5"></script>

  <div class="bg-black/0 w-screen h-[200vh] flex flex-col justify-end">
      <div class="bg-black/50 w-96 mx-auto mb-20 flex justify-stretch rounded-md shadow-lg backdrop-blur z-2">
          <a href="mailto:look@eternal.uz" class="text-slate-200 hover:text-white hover:bg-black/20 w-1/4 py-3 flex flex-col items-center hover:scale-110 rounded-md transition-all">
              <i class="fa-solid fa-envelope icon-size"></i>
              <small>Email</small>
          </a>
          <a href="https://github.com/komil-jon" class="text-slate-200 hover:text-white hover:bg-black/20 w-1/4 py-3 flex flex-col items-center hover:scale-110 rounded-md transition-all">
              <i class="fa-brands fa-github icon-size"></i>
              <small>Github</small>
          </a>
          <a href="https://linkedin.com/in/komiljon" class="text-slate-200 hover:text-white hover:bg-black/20 w-1/4 py-3 flex flex-col items-center hover:scale-110 rounded-md transition-all">
              <i class="fa-brands fa-linkedin icon-size"></i>
              <small>Linkedin</small>
          </a>
          <a href="https://instagram.com/komil.john" class="text-slate-200 hover:text-white hover:bg-black/20 w-1/4 py-3 flex flex-col items-center hover:scale-110 rounded-md transition-all">
              <i class="fa-brands fa-instagram icon-size"></i>
              <small>Instagram</small>
          </a>
          <a href="https://telegram.me/stellarpulse" class="text-slate-200 hover:text-white hover:bg-black/20 w-1/4 py-3 flex flex-col items-center hover:scale-110 rounded-md transition-all">
              <i class="fa-brands fa-telegram icon-size"></i>
              <small>Telegram</small>
          </a>
      </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  
  <script src="{{ url_for('static', filename='scripts/background.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/top-menu.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/pizza.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/light.js') }}"></script>

</body>
