<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=600, initial-scale=0.5">
  <title>Core</title>
  <link rel="icon" type="image/svg+xml" href="/static/assets/logo.svg">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/top-menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/background.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home-appearance.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/logo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/initial.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
<style>

@keyframes loading {
  0% {
    cy: 10;
  }
  25% {
    cy: 3;
  }
  50% {
    cy: 10;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #f4f7ff;
}

canvas {
  height: 100vh;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 2;
}

button {
  background: none;
  border: none;
  color: #f4f7ff;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  left: 50%;
  outline: none;
  overflow: hidden;
  padding: 0 10px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}
button::before {
  background: #1f2335;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4) inset;
  content: "";
  display: block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
  width: 100%;
}

button.ready .submitMessage svg {
  opacity: 1;
  top: 1px;
  transition: top 0.4s ease 600ms, opacity 0.3s linear 600ms;
}
button.ready .submitMessage .button-text span {
  top: 0;
  opacity: 1;
  transition: all 0.2s ease calc(var(--dr) + 600ms);
}

button.loading::before {
  transition: width 0.3s ease;
  width: 80%;
}
button.loading .loadingMessage {
  opacity: 1;
}
button.loading .loadingCircle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
  cy: 10;
}

button.complete .submitMessage svg {
  top: -30px;
  transition: none;
}
button.complete .submitMessage .button-text span {
  top: -8px;
  transition: none;
}
button.complete .loadingMessage {
  top: 80px;
}
button.complete .successMessage .button-text span {
  left: 0;
  opacity: 1;
  transition: all 0.2s ease calc(var(--d) + 1000ms);
}
button.complete .successMessage svg {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s ease-in-out 1.4s;
}

.button-text span {
  opacity: 0;
  position: relative;
}

.message {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.message svg {
  display: inline-block;
  fill: none;
  margin-right: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.submitMessage .button-text span {
  top: 8px;
  transition: all 0.2s ease var(--d);
}
.submitMessage svg {
  color: #5c86ff;
  margin-left: -1px;
  opacity: 0;
  position: relative;
  top: 30px;
  transition: top 0.4s ease, opacity 0.3s linear;
  width: 14px;
}

.loadingMessage {
  opacity: 0;
  transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);
}
.loadingMessage svg {
  fill: #5c86ff;
  margin: 0;
  width: 22px;
}

.successMessage .button-text span {
  left: 5px;
  transition: all 0.2s ease var(--dr);
}
.successMessage svg {
  color: #5cffa1;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset 0.3s ease-in-out;
  width: 14px;
}

.loadingCircle:nth-child(2) {
  animation-delay: 0.1s;
}

.loadingCircle:nth-child(3) {
  animation-delay: 0.2s;
}

/* Website Link */
.website-link {
  background: #f8faff;
  border-radius: 50px 0 0 50px;
  bottom: 30px;
  color: #324b77;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 34px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.1));
  padding: 0 20px 0 40px;
  position: fixed;
  right: 0;
  text-align: left;
  text-decoration: none;
}
.website-link__icon {
  left: -10px;
  position: absolute;
  top: -12px;
  width: 44px;
}
.website-link__name {
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin: 5px 0 3px;
}
.website-link__last-name {
  color: #55bada;
}
.website-link__message {
  color: #8aa8c5;
  display: block;
  font-size: 7px;
  line-height: 7px;
}
  
</style>

  
</head>
<body>
  
<audio id="bg-audio" src="{{ url_for('static', filename='assets/final.mp3') }}" type="audio/mp3" loop muted></audio>
<button id="button" class="ready" onclick="clickButton();">
  
  <div class="message submitMessage">
    <span class="button-text">Submit</span>
  </div>
  
  <div class="message loadingMessage">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 17">
      <circle class="loadingCircle" cx="2.2" cy="10" r="1.6"/>
      <circle class="loadingCircle" cx="9.5" cy="10" r="1.6"/>
      <circle class="loadingCircle" cx="16.8" cy="10" r="1.6"/>
    </svg>
  </div>
  
  <div class="message successMessage">
   <span class="button-text">Success</span>
  </div>
</button>

  <canvas id="canvas"></canvas>


  <div class="moon">
  <span class="crater"></span>
  <span class="crater"></span>
  <span class="crater"></span>
  <span class="crater"></span>
</div>
<div class="ground">
  <div class="rock"></div>
  <div class="rock"></div>
  <div class="rock"></div>
</div>
<div class="shooting">
  <div class="core"></div>
  <div class="trail"></div>
</div>
<object type="image/svg+xml" data="/static/assets/cactus.svg" class="cactus"></object>
  <div class="logo-container">
    <img src="https://raw.githubusercontent.com/phixmexbot/recources/main/logo.svg" alt="Logo" class="logo">
  </div>
  <footer class="footer">
    <a href="/copyright" class="footer-link">
      <span class="footer-text">© Core 2024</span>
    </a>
  </footer>
 <div class="center">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="400px" height="400px" viewBox="0 0 400 400" enable-background="new 0 0 400400" xml:space="preserve">
    <g id="Background"><rect fill="#67488A"/></g>
    <g id="BigHole">
    <g>
    <polygon fill="#87D6F8" points="63.257,67.289 199.464,119.545 335.675,67.288 199.464,15.028"/>
    <polygon fill="#9CDCF9" points="87.822,57.864 199.464,100.695 311.108,57.863 199.464,15.028"/>
    <polygon fill="#AFE2FA" points="112.387,48.439 199.464,81.845 286.544,48.438 199.464,15.028"/>
    <polygon fill="#C2E8FB" points="136.955,39.013 199.464,62.995 261.978,39.013 199.464,15.028"/>
    </g>
    </g>
    <g id="BackProtrusion">
    <path fill="#9E9ECE" d="M73.271,132.802l0.002,0.001l0,0L200,181.423l126.734-48.621L200,84.183L73.271,132.802z"/>
    </g>
    <g id="LittleHole">
    <g>
    <polygon fill="#87D6F8" points="142.972,132.877 200,154.755 257.029,132.876 200,110.997"/>
    <polygon fill="#9CDCF9" points="153.257,128.931 200,146.863 246.744,128.93 200,110.997"/>
    <polygon fill="#AFE2FA" points="163.542,124.984 200,138.971 236.459,124.984 200,110.997"/>
    <polygon fill="#C2E8FB" points="173.828,121.038 200,131.079 226.173,121.038 200,110.997"/>
    </g>
    </g>
    <g id="Beam">
    <g>
    <polygon opacity="0.8" fill="#B9E5FB" points="200.002,110.909 185,116.619 185,400 214.938,400 214.938,116.64"/>
    <polygon opacity="0.06" fill="#ECF2FA" points="153.145,128.889 142.943,132.803 142.943,400 153.145,400"/>
    <polygon opacity="0.245" fill="#DFEEFA" points="163.9,124.878 153.145,128.889 153.145,400 163.9,400"/>
    <polygon opacity="0.43" fill="#D3EBFA" points="174.1,120.851 163.598,124.878 163.598,400 174.1,400"/>
    <polygon opacity="0.615" fill="#C6E8FA" points="185.121,116.619 173.9,120.851 173.9,400 185.121,400"/>
    <polygon opacity="0.06" fill="#ECF2FA" points="246.914,128.889 257.115,132.803 257.115,400 246.914,400"/>
    <polygon opacity="0.245" fill="#DFEEFA" points="236.461,124.878 246.914,128.889 246.914,400 236.461,400"/>
    <polygon opacity="0.43" fill="#D3EBFA" points="225.965,120.851 236.461,124.878 236.461,400 225.965,400"/>
    <polygon opacity="0.615" fill="#C6E8FA" points="214.938,116.619 226,120.851 226,400 214.938,400"/>
    </g>
    </g>
    <g id="Speck1">
    <rect x="224.359" y="216.472" transform="matrix(0.7071 0.7071 -0.7071 0.7071 220.8868 -96.1145)" opacity="0.615" fill="#EFF9FE" width="4.209" height="4.21"/>
    </g>
    <g id="Speck2"> <rect x="201.309" y="338.985" transform="matrix(0.7071 0.7071 -0.7071 0.7071 300.7659 -43.9324)" fill="#5D3A6D" width="4.209" height="4.21"/>
    <rect x="207.286" y="315.501" transform="matrix(0.7071 0.7071 -0.7071 0.7071 285.9104 -55.0369)" fill="#9E76B4" width="4.209" height="4.21"/>
    </g>
    <g id="Speck3">
    <rect x="178.468" y="314.059" transform="matrix(0.707 0.7072 -0.7072 0.707 277.8885 -35.6541)" fill="#5D3A6D" width="7.017" height="7.017"/>
    <rect x="207.309" y="350.772" transform="matrix(0.7071 0.7071 -0.7071 0.7071 310.858 -44.7227)" fill="#9E76B4" width="4.209" height="4.21"/>
    </g>
    <g id="House">
    <g>
    <path fill="#5D3A6D" d="M160.063,286.933h0.002l0,0l39.937,15.322l39.935-15.322l-39.935-15.322L160.063,286.933z"/>
    <polygon fill="#9178A2" points="160.063,252.384 160.063,286.933 200.002,271.61 200.002,237.165"/>
    <polygon fill="#9699BB" points="239.937,252.384 239.937,286.933 200,271.61 200,237.165"/>
    <polygon fill="#9E9ECE" points="219.97,237.841 243.352,251.187 203.415,236.24 180.033,222.622"/>
    <polygon opacity="0.615" fill="#ECF8FE" points="219.97,237.841 243.352,251.187 203.415,236.24 180.033,222.622"/>
    <polygon fill="#5D3A6D" points="174.094,259.338 174.094,281.55 183.581,277.91 183.581,255.698"/>
    <polygon fill="#9178A2" points="156.649,253.958 180.032,222.622 203.415,235.968"/>
    <polygon fill="#5D3A6D" points="203.415,235.968 180.032,222.622 156.649,253.958 160.538,252.462 180.113,226.229 200.002,237.165 239.937,252.384 239.937,252.651 243.352,251.35 243.352,251.187"/>
    <polygon fill="#5D3A6D" points="226,258.003 216.928,254.546 216.928,265.646 226,269.128"/>
    <polygon fill="#DCECCB" points="223.837,259.812 216.928,257.178 216.928,265.635 223.837,268.285"/>
    </g>
    <polygon fill="#756F90" points="200,237.165 200,243.166 239.937,258.385 239.937,252.384"/>
    <polygon fill="#765D89" points="200.002,237.165 180.113,226.229 160.538,252.462 160.063,252.645 160.063,258.564 180.032,231.804 200.002,243.201 200.002,237.281"/>
    </g>
    <g id="Shadow1">
    <polygon fill="#756F90" points="200,237.165 200,243.166 239.937,258.385 239.937,252.384"/>
    <polygon fill="#765D89" points="200.002,237.165 180.113,226.229 160.538,252.462 160.063,252.645 160.063,258.564 180.032,231.804 200.002,243.201 200.002,237.281"/>
    </g>
    <g id="Shadow2">
    <polygon fill="#756F90" points="200,237.165 200,243.166 239.937,258.385 239.937,252.384"/>
    <polygon fill="#765D89" points="200.002,237.165 180.113,226.229 160.538,252.462 160.063,252.645 160.063,258.564 180.032,231.804 200.002,243.201 200.002,237.281"/>
    </g>
    <g id="Speck4">
    <rect x="223.895" y="324.368" transform="matrix(0.7071 0.7071 -0.7071 0.7071 297.0452 -64.1844)" fill="#9E9ECE" width="4.209" height="4.21"/>
    </g>
    <g id="FrontProtrusionTop">
    <path fill="#A098CA" d="M73.271,98.742l0.002,0.001l0,0l126.73,0l126.73,0L200,50.123L73.271,98.742z"/>
    <polygon fill="#9E76B4" points="200,19.002 326.916,67.693 326.916,98.816 200,50.123"/>
    <polygon fill="#5D3A6D" points="73.082,98.816 200,50.123 200,19.002 73.082,67.693"/>
    </g>
    <g id="FrontProtrusionBottom">
    <polygon fill="#9E76B4" points="200,53.062 326.916,101.753 326.916,132.876 200,84.183"/>
    <polygon fill="#5D3A6D" points="73.082,132.876 200,84.183 200,53.062 73.082,101.753"/>
    <polygon fill="#9E9ECE" points="142.898,132.799 200,110.891 257.105,132.799 326.729,132.799 200,84.183 73.277,132.799"/>
    </g>
    </svg>
 </div> 

<body class="not-loaded">
  <div class="flowers">
    <div class="flower flower--1">
      <div class="flower__leafs flower__leafs--1">
        <div class="flower__leaf flower__leaf--1"></div>
        <div class="flower__leaf flower__leaf--2"></div>
        <div class="flower__leaf flower__leaf--3"></div>
        <div class="flower__leaf flower__leaf--4"></div>
        <div class="flower__white-circle"></div>

        <div class="flower__light flower__light--1"></div>
        <div class="flower__light flower__light--2"></div>
        <div class="flower__light flower__light--3"></div>
        <div class="flower__light flower__light--4"></div>
        <div class="flower__light flower__light--5"></div>
        <div class="flower__light flower__light--6"></div>
        <div class="flower__light flower__light--7"></div>
        <div class="flower__light flower__light--8"></div>

      </div>
      <div class="flower__line">
        <div class="flower__line__leaf flower__line__leaf--1"></div>
        <div class="flower__line__leaf flower__line__leaf--2"></div>
        <div class="flower__line__leaf flower__line__leaf--3"></div>
        <div class="flower__line__leaf flower__line__leaf--4"></div>
        <div class="flower__line__leaf flower__line__leaf--5"></div>
        <div class="flower__line__leaf flower__line__leaf--6"></div>
      </div>
    </div>

    <div class="flower flower--2">
      <div class="flower__leafs flower__leafs--2">
        <div class="flower__leaf flower__leaf--1"></div>
        <div class="flower__leaf flower__leaf--2"></div>
        <div class="flower__leaf flower__leaf--3"></div>
        <div class="flower__leaf flower__leaf--4"></div>
        <div class="flower__white-circle"></div>

        <div class="flower__light flower__light--1"></div>
        <div class="flower__light flower__light--2"></div>
        <div class="flower__light flower__light--3"></div>
        <div class="flower__light flower__light--4"></div>
        <div class="flower__light flower__light--5"></div>
        <div class="flower__light flower__light--6"></div>
        <div class="flower__light flower__light--7"></div>
        <div class="flower__light flower__light--8"></div>

      </div>
      <div class="flower__line">
        <div class="flower__line__leaf flower__line__leaf--1"></div>
        <div class="flower__line__leaf flower__line__leaf--2"></div>
        <div class="flower__line__leaf flower__line__leaf--3"></div>
        <div class="flower__line__leaf flower__line__leaf--4"></div>
      </div>
    </div>

    <div class="flower flower--3">
      <div class="flower__leafs flower__leafs--3">
        <div class="flower__leaf flower__leaf--1"></div>
        <div class="flower__leaf flower__leaf--2"></div>
        <div class="flower__leaf flower__leaf--3"></div>
        <div class="flower__leaf flower__leaf--4"></div>
        <div class="flower__white-circle"></div>

        <div class="flower__light flower__light--1"></div>
        <div class="flower__light flower__light--2"></div>
        <div class="flower__light flower__light--3"></div>
        <div class="flower__light flower__light--4"></div>
        <div class="flower__light flower__light--5"></div>
        <div class="flower__light flower__light--6"></div>
        <div class="flower__light flower__light--7"></div>
        <div class="flower__light flower__light--8"></div>

      </div>
      <div class="flower__line">
        <div class="flower__line__leaf flower__line__leaf--1"></div>
        <div class="flower__line__leaf flower__line__leaf--2"></div>
        <div class="flower__line__leaf flower__line__leaf--3"></div>
        <div class="flower__line__leaf flower__line__leaf--4"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:1.2s">
      <div class="flower__g-long">
        <div class="flower__g-long__top"></div>
        <div class="flower__g-long__bottom"></div>
      </div>
    </div>

    <div class="growing-grass">
      <div class="flower__grass flower__grass--1">
        <div class="flower__grass--top"></div>
        <div class="flower__grass--bottom"></div>
        <div class="flower__grass__leaf flower__grass__leaf--1"></div>
        <div class="flower__grass__leaf flower__grass__leaf--2"></div>
        <div class="flower__grass__leaf flower__grass__leaf--3"></div>
        <div class="flower__grass__leaf flower__grass__leaf--4"></div>
        <div class="flower__grass__leaf flower__grass__leaf--5"></div>
        <div class="flower__grass__leaf flower__grass__leaf--6"></div>
        <div class="flower__grass__leaf flower__grass__leaf--7"></div>
        <div class="flower__grass__leaf flower__grass__leaf--8"></div>
        <div class="flower__grass__overlay"></div>
      </div>
    </div>

    <div class="growing-grass">
      <div class="flower__grass flower__grass--2">
        <div class="flower__grass--top"></div>
        <div class="flower__grass--bottom"></div>
        <div class="flower__grass__leaf flower__grass__leaf--1"></div>
        <div class="flower__grass__leaf flower__grass__leaf--2"></div>
        <div class="flower__grass__leaf flower__grass__leaf--3"></div>
        <div class="flower__grass__leaf flower__grass__leaf--4"></div>
        <div class="flower__grass__leaf flower__grass__leaf--5"></div>
        <div class="flower__grass__leaf flower__grass__leaf--6"></div>
        <div class="flower__grass__leaf flower__grass__leaf--7"></div>
        <div class="flower__grass__leaf flower__grass__leaf--8"></div>
        <div class="flower__grass__overlay"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:2.4s">
      <div class="flower__g-right flower__g-right--1">
        <div class="leaf"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:2.8s">
      <div class="flower__g-right flower__g-right--2">
        <div class="leaf"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:2.8s">
      <div class="flower__g-front">
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--1">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--2">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--3">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--4">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--5">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--6">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--7">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--8">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__line"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:3.2s">
      <div class="flower__g-fr">
        <div class="leaf"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--1"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--2"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--3"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--4"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--5"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--6"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--7"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--8"></div>
      </div>
    </div>

    <div class="long-g long-g--0">
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:2.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3.4s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--1">
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:3.8s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--2">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:4.4s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:4.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--3">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--4">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--5">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--6">
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.4s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:4.6s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:4.8s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--7">
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:3.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3.5s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>
  </div>
</body>
  
  <script>
// ammount to add on each button press
const confettiCount = 20
const sequinCount = 10

// "physics" variables
const gravityConfetti = 0.3
const gravitySequins = 0.55
const dragConfetti = 0.075
const dragSequins = 0.02
const terminalVelocity = 3

// init other global elements
const button = document.getElementById('button')
var disabled = false
const canvas = document.getElementById('canvas')
const ctx = canvas.getContext('2d')
canvas.width = window.innerWidth
canvas.height = window.innerHeight
let cx = ctx.canvas.width / 2
let cy = ctx.canvas.height / 2

// add Confetto/Sequin objects to arrays to draw them
let confetti = []
let sequins = []

// colors, back side is darker for confetti flipping
const colors = [
  { front : '#7b5cff', back: '#6245e0' }, // Purple
  { front : '#b3c7ff', back: '#8fa5e5' }, // Light Blue
  { front : '#5c86ff', back: '#345dd1' }  // Darker Blue
]
    
const audio = document.getElementById('bg-audio');

// Play audio in muted mode when the page loads
window.onload = () => {
  console.log('Audio loaded and starting in muted mode...');
  if (audio.readyState >= 2) {  // Check if audio is ready
    audio.muted = true;  // Start muted
    audio.play().then(() => {
      console.log('Audio is playing in muted mode');
    }).catch((error) => {
      console.error('Error playing audio:', error);
    });
  } else {
    console.error('Audio not ready to play.');
  }
};

// helper function to pick a random number within a range
randomRange = (min, max) => Math.random() * (max - min) + min

// helper function to get initial velocities for confetti
// this weighted spread helps the confetti look more realistic
initConfettoVelocity = (xRange, yRange) => {
  const x = randomRange(xRange[0], xRange[1])
  const range = yRange[1] - yRange[0] + 1
  let y = yRange[1] - Math.abs(randomRange(0, range) + randomRange(0, range) - range)
  if (y >= yRange[1] - 1) {
    // Occasional confetto goes higher than the max
    y += (Math.random() < .25) ? randomRange(1, 3) : 0
  }
  return {x: x, y: -y}
}

// Confetto Class
function Confetto() {
  this.randomModifier = randomRange(0, 99)
  this.color = colors[Math.floor(randomRange(0, colors.length))]
  this.dimensions = {
    x: randomRange(5, 9),
    y: randomRange(8, 15),
  }
  this.position = {
    x: randomRange(canvas.width/2 - button.offsetWidth/4, canvas.width/2 + button.offsetWidth/4),
    y: randomRange(canvas.height/2 + button.offsetHeight/2 + 8, canvas.height/2 + (1.5 * button.offsetHeight) - 8),
  }
  this.rotation = randomRange(0, 2 * Math.PI)
  this.scale = {
    x: 1,
    y: 1,
  }
  this.velocity = initConfettoVelocity([-9, 9], [6, 11])
}
Confetto.prototype.update = function() {
  // apply forces to velocity
  this.velocity.x -= this.velocity.x * dragConfetti
  this.velocity.y = Math.min(this.velocity.y + gravityConfetti, terminalVelocity)
  this.velocity.x += Math.random() > 0.5 ? Math.random() : -Math.random()
  
  // set position
  this.position.x += this.velocity.x
  this.position.y += this.velocity.y

  // spin confetto by scaling y and set the color, .09 just slows cosine frequency
  this.scale.y = Math.cos((this.position.y + this.randomModifier) * 0.09)    
}

// Sequin Class
function Sequin() {
  this.color = colors[Math.floor(randomRange(0, colors.length))].back,
  this.radius = randomRange(1, 2),
  this.position = {
    x: randomRange(canvas.width/2 - button.offsetWidth/3, canvas.width/2 + button.offsetWidth/3),
    y: randomRange(canvas.height/2 + button.offsetHeight/2 + 8, canvas.height/2 + (1.5 * button.offsetHeight) - 8),
  },
  this.velocity = {
    x: randomRange(-6, 6),
    y: randomRange(-8, -12)
  }
}
Sequin.prototype.update = function() {
  // apply forces to velocity
  this.velocity.x -= this.velocity.x * dragSequins
  this.velocity.y = this.velocity.y + gravitySequins
  
  // set position
  this.position.x += this.velocity.x
  this.position.y += this.velocity.y   
}

// add elements to arrays to be drawn
initBurst = () => {
  for (let i = 0; i < confettiCount; i++) {
    confetti.push(new Confetto())
  }
  for (let i = 0; i < sequinCount; i++) {
    sequins.push(new Sequin())
  }
}

// draws the elements on the canvas
render = () => {
  ctx.clearRect(0, 0, canvas.width, canvas.height)
  
  confetti.forEach((confetto, index) => {
    let width = (confetto.dimensions.x * confetto.scale.x)
    let height = (confetto.dimensions.y * confetto.scale.y)
    
    // move canvas to position and rotate
    ctx.translate(confetto.position.x, confetto.position.y)
    ctx.rotate(confetto.rotation)

    // update confetto "physics" values
    confetto.update()
    
    // get front or back fill color
    ctx.fillStyle = confetto.scale.y > 0 ? confetto.color.front : confetto.color.back
    
    // draw confetto
    ctx.fillRect(-width / 2, -height / 2, width, height)
    
    // reset transform matrix
    ctx.setTransform(1, 0, 0, 1, 0, 0)

    // clear rectangle where button cuts off
    if (confetto.velocity.y < 0) {
      ctx.clearRect(canvas.width/2 - button.offsetWidth/2, canvas.height/2 + button.offsetHeight/2, button.offsetWidth, button.offsetHeight)
    }
  })

  sequins.forEach((sequin, index) => {  
    // move canvas to position
    ctx.translate(sequin.position.x, sequin.position.y)
    
    // update sequin "physics" values
    sequin.update()
    
    // set the color
    ctx.fillStyle = sequin.color
    
    // draw sequin
    ctx.beginPath()
    ctx.arc(0, 0, sequin.radius, 0, 2 * Math.PI)
    ctx.fill()

    // reset transform matrix
    ctx.setTransform(1, 0, 0, 1, 0, 0)

    // clear rectangle where button cuts off
    if (sequin.velocity.y < 0) {
      ctx.clearRect(canvas.width/2 - button.offsetWidth/2, canvas.height/2 + button.offsetHeight/2, button.offsetWidth, button.offsetHeight)
    }
  })

  // remove confetti and sequins that fall off the screen
  // must be done in seperate loops to avoid noticeable flickering
  confetti.forEach((confetto, index) => {
    if (confetto.position.y >= canvas.height) confetti.splice(index, 1)
  })
  sequins.forEach((sequin, index) => {
    if (sequin.position.y >= canvas.height) sequins.splice(index, 1)
  })

  window.requestAnimationFrame(render)
}

// cycle through button states when clicked
clickButton = () => {
  if (!disabled) {
    disabled = true

    console.log('Button pressed, unmuting and changing volume...');
    
    // Unmute and set volume to 0.5 when the button is pressed
    audio.muted = false;  // Unmute the audio
    audio.volume = 0.5;   // Set volume to 0.5
    
    console.log('Audio muted status:', audio.muted);
    console.log('Audio volume:', audio.volume);
    
    // Check if the audio is playing
    audio.play().then(() => {
      console.log('Audio is playing at 0.5 volume');
    }).catch((error) => {
      console.error('Error playing audio after button press:', error);
    });
    // Loading stage
    button.classList.add('loading')
    button.classList.remove('ready')
    setTimeout(() => {
      // Completed stage
      button.classList.add('complete')
      button.classList.remove('loading')
      setTimeout(() => {
        window.initBurst()
        setTimeout(() => {
          // Reset button so user can select it again
          disabled = false
          button.classList.add('ready')
          button.classList.remove('complete')
        }, 4000)
      }, 320)
    }, 1800)
  }
}

// re-init canvas if the window size changes
resizeCanvas = () => {
  canvas.width = window.innerWidth
  canvas.height = window.innerHeight
  cx = ctx.canvas.width / 2
  cy = ctx.canvas.height / 2
}

// resize listenter
window.addEventListener('resize', () => {
  resizeCanvas()
})

// click button on spacebar or return keypress
document.body.onkeyup = (e) => {
  if (e.keyCode == 13 || e.keyCode == 32) {
    clickButton()
  }
}

// Set up button text transition timings on page load
textElements = button.querySelectorAll('.button-text')
textElements.forEach((element) => {
  characters = element.innerText.split('')
  let characterHTML = ''
  characters.forEach((letter, index) => {
    characterHTML += `<span class="char${index}" style="--d:${index * 30}ms; --dr:${(characters.length - index - 1) * 30}ms;">${letter}</span>`
  })
  element.innerHTML = characterHTML
})

// kick off the render loop
window.initBurst()
render()

  </script>
  
  <script src="{{ url_for('static', filename='scripts/background.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/timer.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/initial.js') }}"></script>

</body>
