html, body {
  width: 100%;
  height: 100%;
  background-color: #222a30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-action-btn {
  background-color: #0053FF;
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px #555;
  -webkit-animation: button-jump 2s infinite;
          animation: button-jump 2s infinite;
  cursor: pointer;
}
.circle-action-btn__icon {
  color: white;
  font-size: 1.4em;
  transform-origin: bottom center;
  -webkit-animation: hand-shake 2s infinite;
          animation: hand-shake 2s infinite;
}

@-webkit-keyframes hand-shake {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes hand-shake {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes button-jump {
  0% {
    box-shadow: 0px 2px 5px #555;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px #555;
  }
}
@keyframes button-jump {
  0% {
    box-shadow: 0px 2px 5px #555;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px #555;
  }
}
