$shadow-color: #555;

.circle-action-btn {
	position: fixed;
	right: 30px;
	bottom: 30px;
	background-color: #0053FF;
	border: none;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	box-shadow: none;
	animation: button-jump 2s infinite;
	cursor: pointer;
	
	&:hover {
	}
	
	&__icon {
		color: white;
		font-size: 1.4em;
		transform-origin: bottom center;
		animation: hand-shake 2s infinite;
	}
}

@keyframes hand-shake {
	0% {
		transform: rotate(-5deg);		
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

@keyframes button-jump {
	0% {
		transform: scale(1); 
		box-shadow: none; 
	}
	50% {
		transform: scale(1.1);
		box-shadow: 0px 0px 15px 5px $shadow-color;
	}
	100% {
		transform: scale(1);
		box-shadow: none; /* Shadow disappears when back to original state */
	}
}
