.mx-auto {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 75px;
}

.mb-40 {
  text-align: center;
  bottom: 100px;
}

.z-2 {
  font-size: 1em;
  font-weight: bold;
  z-index: 100;
}
