.message-container {
  color: transparent;
  bottom: 20%;
  position: absolute;
  text-align: center;
  animation: appearFromNowhere 3s forwards;
  z-index: 10;
  font-size: 1.2em;
  font-weight: bold;
}

.message {
  padding: 2%;
  border-radius: 10px;
  display: inline-block;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.6); /* 60% transparent black */
  color: white; /* Text color inside the box */
}

@keyframes appearFromNowhere {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
