#pizza_container {
  text-align: center; /* Center the content horizontally */
  position: relative; /* Position the link and the canvas relative to this container */
  margin-top: 100px; /* Adjust this value to position the pizza animation */
}

#pizza {
  display: block;
  margin: auto;
}
